.nav {
  display: flex;
  color: var(--text-color);
  background: var(--bg-color);
}

.nav_links {
  list-style-type: none;
  display: flex;
  flex: 1;
  font-size: large;
  font-weight: 700;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.nav_links ul li {
  cursor: pointer;
}

.nav_darkmode {
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.nav_links__hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav_links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  .nav_links_li {
    display: none;
  }

  .nav_links__hamburger {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
