.container {
  height: 100vh;
  position: relative;
}
.letsConnectHeading {
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
  margin-top: 10px;
  color: var(--text-color);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  width: 100%;
}

.leftContent section {
  width: 50%;
}

.leftContent section p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--text-color);
}

.rightContent {
  width: auto;
  height: auto;
}

.rightContent form label {
  font-size: 22px;
}

.rightContent form input,
textarea {
  background: #1c1c1c;
  outline: none;
  color: #fff;

  width: 400px;
  max-width: 400px;

  padding: 20px 30px;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  font-family: "Plus Jakarta Sans", sans-serif;
}

.rightContent textarea {
  min-height: 207px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaaaaa;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
}

input,
textarea,
button {
  border: 1px solid var(--text-color);
}

.formWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.submitButton {
  background: #1c1c1c;
  color: #fff;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.submitButton:hover {
  background: green;
}

.heart {
  margin-left: 5px;
}

.modal {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 20%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.5);
  backdrop-filter: blur(5px);
}

.submitImage {
  margin-top: 50px;
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .leftContent {
    margin-top: 30px;
    margin-bottom: 30px;
    /* background: blue; */
  }

  .leftContent section {
    width: 80%;
    margin: 0 auto;
  }

  .leftContent section p {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  .rightContent {
    width: 80%;
  }

  .rightContent form input,
  textarea {
    width: 60vw;
  }
}
