@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&family=Karla&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1c1c1c;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;

  max-width: 1280px;
  margin: 0 auto;
  background: #fff;

  scroll-behavior: smooth;
  box-sizing: border-box;
}
